body {
    font-family: 'Nunito';
    padding-top: 54px;
    /*color: #868e96;*/
    color: #05386B;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb)), url("../img/bg2.jpg");*/
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(253,253,253,0.9))), url("../bg2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito';
    font-weight: 700;
    text-transform: uppercase;
    color: #05386B;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;

}

h2 {
    font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
    
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Nunito';
    font-size: 1.5rem;
    
}

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.social-icons a:last-child {
  margin-right: 0;
}

    .social-icons a:hover {
        background-color: #5CDB95;
    }

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #fff;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);*/
}

#sideNav .navbar-toggler:focus {
    outline-color: #d48a6e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3)
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.3);
    }
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
    /*background-color: #5CDB95 !important;*/
    background: linear-gradient(to right,#379683, #5CDB95 100%) !important;
}

.text-primary {
    color: #379683 !important;
}

a {
  color: #8EE4AF;
}

    a:hover, a:focus, a:active {
        color: white;
    }

.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.trophy {
    color: #05386B;
}
